# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
site/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Virtual environments (optional)
.venv/
.env/

# Logs and debug files
*.log
*.tmp

# IDE-specific files
.vscode/
.idea/

# Exclude all .jpg files by default
*.jpg

# Allow .jpg files globally
!*.jpg

# Exclude .jpg files in specific folders
examples/python/Worked_examples__NRMP/Video_Snapshots/POD_spectral_images__video_S2/*.jpg
examples/python/Worked_examples__NRMP/Video_Snapshots/SPOD_images__video_S4/*.jpg
